<div class="card mat-card">
    <div class="card-titles" id="acerca">
        <h1 >Acerca de</h1>
        <span>
        <div type="button" class="boton2" onclick="cambiar_parrafo()"> <!--Cambiar parrafo es el nombre de una funcion-->
            <img src="img/icons8-pen-48.png" alt="">
        </div>
        </span>
        <div>
            <p id="text-acercade">Tester en aseguramiento en calidad de software. Con capacidad para
        el análisis de requerimiento, diseño de casos de prueba y reporte de
        bug en páginas web. Especializada en trabajo con metodologías
        agiles.</p>
        </div>
        <div>
            <input id="edit-acercade" type="text"oninput="myFuntion2(this.value)" style="display:none">
        </div>
    
    </div>
</div>
