


<div class="card mat-card">
    <div class="card-titles" id="acerca">
        <h1 >{{miPorfolio.title1}}</h1>
        <span>
        <div type="button" class="boton2" onclick="cambiar_parrafo()"> <!--Cambiar parrafo es el nombre de una funcion-->
            <img src="assets/img/icons8-pen-48.png" alt="">
        </div>
        </span>
        <div>
            <p id="text-acercade">{{miPorfolio.about}}</p>
        </div>
        <div>
            <input id="edit-acercade" type="text"oninput="myFuntion2(this.value)" style="display:none">
        </div>
    
    </div>
</div>

<script>
    function cambiar_parrafo(){
        document.getElementById("edit-acercade").style.display="block";
        let texto = document.getElementById("text-acercade").innerText;
        alert("Modificaste tus datos");
        console.log(texto);

    };

    function myFuntion2 (valor){
        document.getElementById("text-acercade").innerText= valor;
    };
</script>