<div class="card mat-card" id="certificaciones">
    <h1>Certificaciones</h1>
    <ul>
        <table *ngFor="let certificaciones of listCertificaciones">
            <tr>
            <th><img width="50px" [src]="certificaciones.img" ></th>
            <th><h4>{{certificaciones.title}}</h4></th>
            <tr>
                <td></td>
                <td><p>{{certificaciones.school}}</p></td>
            </tr>
            <tr>
                <td></td>
                <td><p>{{certificaciones.expedition}}</p></td>
            </tr> 
            <tr>
                <td></td>
                <td><a [href]="certificaciones.certificate">Credencial</a></td>
            </tr>
        </table>
    </ul>
</div>
