<div class="card mat-card" id="certificaciones">
  <!-- Button crear -->
  <div>
    <button *ngIf="logueado()" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#crearCer">
      <img src="assets/img/file-plus-2.svg" alt="">
    </button>
  </div>
  <h1>Certificaciones</h1>
  <div>
      <table *ngFor="let certificaciones of datos.listCertificaciones">
        <th>
          <img width="60px" [src]="certificaciones.img">
        </th>
        <th>
          <h4>{{certificaciones.title}}</h4>
        </th>
        <th>
          <div id="botones">
            
            <button *ngIf="logueado()" type="button" class="btn btn-outline-primary" data-toggle="modal"
              data-target="#editCer" (click)="verCertificado(certificaciones.id)">
              <img src="assets/img/edit-2.svg" alt="">
            </button>
            <button *ngIf="logueado()" type="button" class="btn btn-outline-danger"
              (click)="borrarCertificacion(certificaciones.id, datos.id)">
              <img src="assets/img/basura.svg" alt=""></button>
          </div>
        </th>
        <tr>
          <td></td>
          <td>
            <p>{{certificaciones.school}}</p>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <p>{{certificaciones.expedition}}</p>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <a [href]="certificaciones.certificate">Credencial</a>
          </td>
        </tr>
      </table>
    </div>
   
  <!-- Modal para Agregar -->
  <div class="modal fade" id="crearCer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo Certificado</h5>
          <!-- Button cerrar -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="newCertificaciones($event,datos.id)">
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Institucion</label>
              <div class="col-sm-10">
                <input type="text" formControlName="school" class="form-control" id="inputPassword" placeholder="Text">
                <!--aqui es donde van los nombres de las variables que tengo en el json-->
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Logo</label>
              <div class="col-sm-10">
                <input type="text" formControlName="img" class="form-control" id="inputPassword" placeholder="Text">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Descripción</label>
              <div class="col-sm-10">
                <input type="text" formControlName="title" class="form-control" id="inputPassword" placeholder="Text">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Expedición</label>
              <div class="col-sm-10">
                <input type="text" formControlName="expedition" class="form-control" id="inputPassword"
                  placeholder="Text">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Certificado</label>
              <div class="col-sm-10">
                <input type="text" formControlName="certificate" class="form-control" id="inputPassword"
                  placeholder="Text">
              </div>
            </div>
            <!-- Button guardar -->
            <button type="submit" class="btn btn-primay" data-bs-dismiss="modal" Style="margin: 1%;">Grabar</button>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal para Editar -->
  <div class="modal fade" id="editCer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Certificado</h5>
          <!-- Button cerrar -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="editarCertificacion()">
            <input type="hidden" class="form-control" formControlName="id" value="cerEdit?.id">
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Institucion</label>
              <div class="col-sm-10">
                <input type="text" value="cerEdit?.school" formControlName="school" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Logo</label>
              <div class="col-sm-10">
                <input type="text" value="cerEdit?.img" formControlName="img" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Descripción</label>
              <div class="col-sm-10">
                <input type="text" value="cerEdit?.title" formControlName="title" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Expedición</label>
              <div class="col-sm-10">
                <input type="text" value="expedition?.school" formControlName="expedition" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Certificado</label>
              <div class="col-sm-10">
                <input type="text" value="certificate?.school" formControlName="certificate" class="form-control" />
              </div>
            </div>
            <!-- Button guardar -->
            <button  type="submit" class="btn btn-primay" data-bs-dismiss="modal" Style="margin: 1%;">Grabar</button>
            <button  type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>