<div class="card mat-card" id="educacion">
    <h1>Educación</h1>
    <table *ngFor="let educacion of listEducacion">
        <tr>
            <th><img  class="school-image" width="150px"  [src]="educacion.img" ></th>
            <th><h3>{{educacion.college}}</h3></th>
        </tr>
        <tr>
            <td></td>
            <td><h5>{{educacion.title}}</h5></td>
        </tr>
        <tr>
            <td></td>
            <td><p>{{educacion.description}}</p></td>
        </tr>
        <tr>
            <td><a [href]="educacion.certificate"><b>Título</b></a></td>
        </tr>
    </table>
</div>
