<div  class="card mat-card" id="firs-card">

    <div id="profile-background">
    <img [src]="miPorfolio.backImagen"/>
    </div>

    <div id="info" style="padding: 16px;">

        <div id="info-img">
            <img class="profile-image" [src]="miPorfolio.imagen"/>
            <div  type="button" class="boton1"><img src="assets/img/icons8-pen-48.png" alt=""></div>
        </div>

        <div id="info-data">
            <div>
                <h1>{{miPorfolio.name}}</h1>
                <div id="info-company">
                   <h2>{{miPorfolio.position}}</h2> 
                </div>
                <div id="info-contact">
                    <span>{{miPorfolio.location}}</span>
                    <span><a href="#">Información de Contacto</a></span>
                </div>
            </div>
            <ul id="info-details">
                <li><a href="https://www.axoft.com">
                    <img width="100px" [src]="miPorfolio.company"/> 
                
                    </a></li>
                <li><a href="http://www.enahp.com/pregrado/modulos/inicio/">
                <img  class="school-image" width="150px"  [src]="miPorfolio.college">
              </a></li>  
            </ul>
        </div>

        <div id="info-actions">
            <button type="button" class="btn btn-primary">Tengo interés en</button>
            <button type="button" class="btn btn-light">Añadir Sección</button>
            <button type="button" class="btn btn-light">Más</button>
        </div>
    </div>  
</div>



