<div class="card mat-card" id="experiencia">
    <h1>Experiencia</h1>
    <table *ngFor="let experiencia of listExperiencia">
        <tr>
            <th>
                <img  width="50px" [src]="experiencia.img" > 
            </th>
            <th>
                <h6>{{experiencia.position}}</h6>
                <h5>{{experiencia.company}}</h5>
            </th>
        </tr>
        <tr>
            <td></td>
            <td>
                <ul>
                    <li>{{experiencia.cliente}}</li>
                    <li>{{experiencia.aplicaciones}}</li>
                    <li>{{experiencia.consultas}}</li>
                    <li>{{experiencia.reporte}}</li>
                    <li>{{experiencia.Metodologia}}</li>
                    <li>{{experiencia.funciones}}</li>
                </ul>
            </td>
        </tr>
    </table> 
    </div>