
/*Este define los margenes de  todos los cuadros*/
/*1*/
.mat-card {
    border-radius: 32px;
    margin: 20px 20px;
    padding: 10px;
    border-color: #0a66c2;
}


/*La voy a comentar hasta que consiga el id info details que no lo veo si no esto está de más
div#info-data ul#details li a {
    color: black;
    display: flex;
    text-decoration: none;
} 

div#info-data ul#details li a h2 {
    font-size: 1rem;
    font-weight: 500;
    align-self: center;
    vertical-align: baseline;
}

div#info-data ul#details li a img {
    width: 32px;
    height: 32px;
    margin-right: 100px;
}*/
/* Es la parte que dice informacion de contacto
div#info-contact span {
    font-size: 1rem;
    font-weight: 400;
}
 Es la parte que dice informacion de contacto
div#info-contac span a {
    color: #0a66c2;
    touch-action: manipulation;
    text-decoration: none;
}*/

/*div es la eiqueta donde se encuentra, el # se refiere al id, luego viene el nombre*/


div#info-company {
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.25;
    
}
ul.items-list {
    list-style: one inside;
}

ul.items-list li {
    display: flex;
    margin: 10px 0;
}

ul.items-list li div.data-container {
    flex-grow: 1;
}
ul.items-list li div.data-container a {
    display: flex;
    color: black;

}
 .boton1 {
    padding-left: 17%;
 }

 .boton1 img {
    width: 2%;
    height: 2%;
 }
 .boton2 {
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
 }

 .boton2 img {
    width: 2%;
    height: 2%;
 }

 div#acerca h1 {
    text-align: center;
 }
 div#experiencia h1 {
    text-align: center;
 }
 div#educacion h1 {
    text-align: center;
 }
 div#certificaciones h1 {
    text-align: center;
 }
 
 

 